*{
    display: flex;
    /*flex-direction: row;*/
    align-content: center;
    margin-left: 1%;
    margin-top: 25px;
    background-image: url("../images/seamless3.jpg");
}

.goAway{
    display: none;
}

#dashboard{
    clear: both;
    display: flex;
    flex-direction: column;
    color: #FFEB7A;
    font-family: 'Exo 2';
}